html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix, .mainWrapper, #fpsPopup .button, #loginPopup .button, #sbagPopup .button, #sbagPopup .listArea ul > li, .productList, .channel, .member ul.ordershead li, .member ul.orders li, .shoppingbag table tfoot > tr > td ul > li, .address, .member table.coupons, .address table thead tr > td, .member table.coupons table thead tr > td, .clothingDetail .info, .clothingDetail .info .imgZoom .thumbList, .clothingDetail .info .infoText .colorChoice, .clothingDetail .info .infoText .button, .clothingDetail .info .infoText .description .tabs, .alsolike ul {
  zoom: 1;
}
.clearfix:before, .mainWrapper:before, #fpsPopup .button:before, #loginPopup .button:before, #sbagPopup .button:before, #sbagPopup .listArea ul > li:before, .productList:before, .channel:before, .member ul.ordershead li:before, .member ul.orders li:before, .shoppingbag table tfoot > tr > td ul > li:before, .address:before, .member table.coupons:before, .address table thead tr > td:before, .member table.coupons table thead tr > td:before, .clothingDetail .info:before, .clothingDetail .info .imgZoom .thumbList:before, .clothingDetail .info .infoText .colorChoice:before, .clothingDetail .info .infoText .button:before, .clothingDetail .info .infoText .description .tabs:before, .alsolike ul:before {
  content: "";
  display: table;
}
.clearfix:after, .mainWrapper:after, #fpsPopup .button:after, #loginPopup .button:after, #sbagPopup .button:after, #sbagPopup .listArea ul > li:after, .productList:after, .channel:after, .member ul.ordershead li:after, .member ul.orders li:after, .shoppingbag table tfoot > tr > td ul > li:after, .address:after, .member table.coupons:after, .address table thead tr > td:after, .member table.coupons table thead tr > td:after, .clothingDetail .info:after, .clothingDetail .info .imgZoom .thumbList:after, .clothingDetail .info .infoText .colorChoice:after, .clothingDetail .info .infoText .button:after, .clothingDetail .info .infoText .description .tabs:after, .alsolike ul:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Gill Sans";
  src: url('/css/fonts/gill.ttf') format('truetype'), url('/css/fonts/gill.otf') format('opentype');
}

html {
  background: #fdf0ec url(../images/new_background.jpg);
  padding: 30px;
  font-family: "微軟正黑體", "Gill Sans";
  font-size: 12px;
}

select {
  background: none;
  border: 1px solid #b1a8a5;
  padding: 8px 30px 8px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: url(../images/icon_select.png) 94% center no-repeat;
}

a {
  -webkit-transition: color 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition: color 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-transition: color 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  transition: color 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.content .pagger {
  text-align: right;
}
.content .pagger ul {
  display: inline;
  padding-right: 10px;
}
.content .pagger ul > li {
  display: inline;
  font-size: 14px;
}
.content .pagger ul > li > a:after {
  content: "‧";
  padding: 0 2px;
}
.content .pagger ul > li > a:hover {
  color: #ff17a3;
}
.content .pagger ul > li:last-child > a:after {
  content: "";
}
.content .pagger a:hover {
  color: #ff17a3;
}

.border * {
  position: fixed;
  z-index: 999;
  background-color: black;
}

.border div {
  -webkit-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.border .top {
  left: 0;
  right: 0;
  top: 0;
  height: 15px;
}
.border .right {
  right: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  background-image: url(../images/bg_borderlight.png);
  background-position: 0 bottom;
  background-repeat: no-repeat;
}
.border .bottom {
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
}
.border .left {
  left: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  background-image: url(../images/bg_borderlight.png);
  background-position: 0 top;
  background-repeat: no-repeat;
}

.header {
  width: 990px;
  margin: 0 auto;
  position: relative;
}
.header .lang {
  position: absolute;
  left: 0;
  top: 0;
}
.header a.logo {
  display: block;
  width: 400px;
  height: 93px;
  margin: 0 auto;
  padding: 15px 0 30px 0;
  background: url(../images/img_logo.jpg) center center no-repeat;
}
.header a.logo h1 {
  text-indent: -9999px;
}
.header .topMenu {
  position: absolute;
  right: 0;
  top: 0;
}
.header .topMenu ul > li {
  float: left;
}
.header .topMenu ul > li > a {
  display: inline-block;
  margin: 0 14px;
  line-height: 14px;
}
.header .topMenu ul > li > a span {
  padding: 0 5px;
  color: #ff17a3;
}

.mainMenu {
  width: 990px;
  margin: 0 auto;
  border-top: 1px solid #e3d8d4;
  text-align: center;
  padding-bottom: 10px;
}
.mainMenu ul > li {
  display: inline-block;
  margin: 0 18px 18px 18px;
}
.mainMenu ul > li > a {
  display: block;
  border-top: 1px solid #fdf0ec;
  padding: 15px 0 0 0;
}
.mainMenu ul > li > a:hover {
  border-top: 1px solid #ff17a3;
}
.mainMenu ul > li > a.active {
  border-top: 1px solid #ff17a3;
}

.mainWrapper, .mainWrapper-n {
  width: 990px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mainWrapper-n {
  position: relative;
  z-index: 10;
  padding: 4px;
  border: 10px solid black;
}
.mainWrapper-n::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid black;
}

.mainWrapper {
  position: relative;
  z-index: 10;
  padding: 29px;
  border: 10px solid black;
  margin-bottom: 10px;
}
.mainWrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid black;
}

.sideMenu {
  float: left;
  width: 135px;
  margin-right: 25px;
}
.sideMenu ul > li {
  padding-bottom: 12px;
  border-bottom: 1px solid #ece0dc;
  margin-bottom: 14px;
  line-height: 18px;
}
.sideMenu ul > li > a {
  -webkit-transition: all 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition: all 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-transition: all 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  transition: all 0.5s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.sideMenu ul > li > a:hover {
  color: #ff17a3;
}
.sideMenu ul > li > a.active {
  color: #ff17a3;
}

.content {
  width: 750px;
  float: left;
}

.footer {
  width: 990px;
  margin: 0 auto;
  text-align: center;
}
.footer .socialArea {
  margin: 25px 0;
}
.footer .socialArea ul > li {
  display: inline-block;
}
.footer .socialArea ul > li > a {
  text-indent: -99999px;
  width: 38px;
  height: 38px;
  margin: 0 8px;
  display: block;
}
.footer .socialArea ul > li > a.facebook {
  background: url(../images/icon_fb.png);
}
.footer .socialArea ul > li > a.instagram {
  background: url(../images/icon_instagram.png);
}
.footer .socialArea ul > li > a.youtube {
  background: url(../images/icon_tube.png);
}
.footer .socialArea ul > li > a.weibo {
  background: url(../images/icon_weibo.png);
}
.footer .secMenu {
  display: inline-block;
}
.footer .secMenu ul > li {
  display: inline-block;
}
.footer .secMenu ul > li > a {
  display: inline-block;
  margin: 0 14px;
}
.footer .copyRight {
  display: inline-block;
  margin-left: 7px;
}

.coin-slider {
  overflow: hidden;
  zoom: 1;
  position: relative;
}
.coin-slider a {
  text-decoration: none;
  outline: none;
  border: none;
}

.cs-buttons {
  font-size: 0px;
  padding: 10px;
  float: left;
}
.cs-buttons a {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  float: left;
  border: 1px solid #b8c4cf;
  color: #b8c4cf;
  text-indent: -1000px;
}

.cs-active {
  background-color: #b8c4cf;
  color: white;
}

.cs-title {
  width: 545px;
  padding: 10px;
  background-color: black;
  color: white;
}

.cs-prev, .cs-next {
  background-color: black;
  color: white;
  padding: 0px 10px;
}

#slideBanner {
  overflow: hidden;
  position: relative;
  visibility: hidden;
}
#slideBanner .swipe-wrap {
  overflow: hidden;
  position: relative;
}
#slideBanner .swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
#slideBanner .slideNav {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
#slideBanner .slideNav div a {
  display: block;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
}
#slideBanner .slideNav .prev {
  position: absolute;
  left: 10px;
  top: 50%;
}
#slideBanner .slideNav .prev a {
  background: url(../images/btn_prev.png) center right no-repeat;
}
#slideBanner .slideNav .next {
  position: absolute;
  right: 10px;
  top: 50%;
}
#slideBanner .slideNav .next a {
  background: url(../images/btn_next.png) center left no-repeat;
}

.slider .slideNav {
  height: 494px;
}

.slider2 .slideNav {
  height: 470px;
}

.promoBanner {
  width: 990px;
  margin: 0 auto;
  margin-top: 19px;
}
.promoBanner ul > li {
  display: inline-block;
  margin-left: 30px;
}
.promoBanner ul > li:first-child {
  margin-left: 0;
}

.popup {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  width: 300px;
  padding: 20px 10px 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black;
  z-index: 99;
}
.popup a.close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}
.popup p {
  font-size: 12px;
  color: white;
}
.popup hr {
  margin: 15px 0;
}

#fpsPopup .button input, #loginPopup .button input, #sbagPopup .button input {
  width: 49.5%;
  height: 36px;
  background: white;
  border: none;
  float: left;
  margin-right: 0.5%;
}

#fpsPopup input[type="text"], #loginPopup input[type="text"], #fpsPopup input[type="password"], #loginPopup input[type="password"] {
  width: 100%;
  height: 36px;
  background: #fdf0ec;
  margin: 12px 0 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#fpsPopup p.note, #loginPopup p.note {
  line-height: 200%;
  margin-bottom: 45px;
}

#loginPopup a.fgp {
  color: white;
  float: right;
}

#sbagPopup .listArea {
  height: 340px;
  margin-bottom: 20px;
  overflow: auto;
}
#sbagPopup .listArea ul > li {
  margin-bottom: 20px;
}
#sbagPopup .listArea ul > li > img {
  float: left;
  margin-right: 10px;
}
#sbagPopup .listArea ul > li > .info {
  line-height: 140%;
}
#sbagPopup .listArea ul > li > .info padding {
  font-size: 10px;
}
#sbagPopup .listArea ul > li > .info p.subject {
  font-size: 14px;
  font-weight: bolder;
}
#sbagPopup .button span {
  display: block;
  float: left;
  width: 50%;
  line-height: 36px;
  font-size: 14px;
  color: white;
  text-align: center;
}

.sort {
  text-align: right;
  margin-bottom: 20px;
}

.productList ul > li, .channel ul > li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 240px;
  margin-right: 11px;
  margin-bottom: 33px;
  position: relative;
  vertical-align: top;
}
.productList ul > li:nth-child(3n), .channel ul > li:nth-child(3n) {
  margin-right: 0;
}
.productList ul > li > p, .channel ul > li > p {
  line-height: 18px;
  margin-bottom: 5px;
  min-height: 3em;
}
.productList ul > li > label, .channel ul > li > label {
  position: absolute;
  display: block;
}
.productList ul > li > select, .channel ul > li > select {
  display: block;
  margin-bottom: 5px;
}
.productList ul > li > .price span, .channel ul > li > .price span {
  color: #ff256c;
  font-weight: bolder;
}
.productList ul > li.sale > .price b, .channel ul > li.sale > .price b, .productList ul > li.new > .price b, .channel ul > li.new > .price b, .productList ul > li.preorder > .price b, .channel ul > li.preorder > .price b {
  text-decoration: line-through;
  margin-right: 5px;
}
.productList ul > li.sale > label, .channel ul > li.sale > label, .productList ul > li.new > label, .channel ul > li.new > label, .productList ul > li.preorder > label, .channel ul > li.preorder > label {
  top: -10px;
  left: 12px;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border-radius: 42px;
  background-color: #ff17a3;
  text-align: center;
  padding-top: 14px;
  color: white;
  font-size: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.productList ul > li.new > .price b, .channel ul > li.new > .price b, .productList ul > li.preorder > .price b, .channel ul > li.preorder > .price b {
  text-decoration: none;
}
.productList ul > li.new > label, .channel ul > li.new > label, .productList ul > li.preorder > label, .channel ul > li.preorder > label {
  background-color: black;
}
.productList ul > li.preorder > label, .channel ul > li.preorder > label {
  padding-top: 8px;
  color: #ffa169;
}
.productList ul > li.soldOut > label, .channel ul > li.soldOut > label {
  width: 164px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  background-color: black;
  color: white;
  left: 50%;
  margin-left: -82px;
  top: 44%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.productList ul > li .button, .channel ul > li .button {
  margin-top: 20px;
}
.productList ul > li .button a, .channel ul > li .button a {
  display: block;
  float: left;
  width: 115px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: black;
  color: white;
}
.productList ul > li .button a:first-child, .channel ul > li .button a:first-child {
  margin-right: 10px;
}

#disqus_thread {
  border-top: 1px solid #e3d8d4;
  padding-top: 10px;
}

.channel ul > li {
  margin-bottom: 40px;
}
.channel img {
  margin-bottom: 13px;
}

.channel_detail h2 {
  font-size: 18px;
  line-height: 170%;
}
.channel_detail p {
  font-size: 14.04px;
  line-height: 170%;
}
.channel_detail p.time {
  font-size: 12px;
  color: #7e7876;
  margin-bottom: 30px;
}
.channel_detail .contentText {
  margin-top: 30px;
  margin-bottom: 35px;
}

.customer h2 {
  font-weight: bolder;
  margin-bottom: 30px;
}
.customer h3 {
  font-weight: bolder;
}
.customer p {
  line-height: 18px;
  margin-bottom: 24px;
}
.customer table {
  width: 570px;
  background: white;
  border: 2px solid #cccccc;
  margin-bottom: 30px;
}
.customer table thead {
  background: #cccccc;
}
.customer table td {
  line-height: 30px;
  text-align: center;
}
.customer table tbody > tr > td {
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.customer table tbody > tr > td:first-child {
  border-left: none;
}

.customer_about {
  width: 730px;
  margin: 50px auto 0;
  padding-bottom: 50px;
}
.customer_about h3 {
  text-align: center;
  margin-bottom: 24px;
}
.customer_about p {
  line-height: 18px;
  margin-bottom: 24px;
}

.customer_contact table {
  width: 100%;
  margin-bottom: 30px;
}
.customer_contact table thead {
  background: #cccccc;
}
.customer_contact table td {
  line-height: 30px;
}
.customer_contact table tbody > tr > td {
  padding: 15px 0 3px 0;
}
.customer_contact table tbody > tr > td input {
  border: 1px solid #cac0bd;
  height: 36px;
  width: 90%;
}
.customer_contact table tbody > tr > td textarea {
  border: 1px solid #cac0bd;
  width: 96%;
}
.customer_contact table tbody > tr > td select {
  background-color: white;
  width: 90%;
  height: 36px;
  border: 1px solid #cac0bd;
}
.customer_contact table tfoot > tr > td {
  text-align: right;
  padding-top: 20px;
  padding-right: 10px;
}
.customer_contact table tfoot > tr > td input {
  width: 140px;
  height: 36px;
  background: black;
  color: white;
  text-align: center;
}

.member table {
  width: 100%;
  margin-bottom: 20px;
}
.member table tr > td {
  line-height: 35px;
}
.member table thead tr {
  background-color: #cccccc;
}
.member table thead tr > td {
  padding-left: 25px;
}
.member table tbody tr > td {
  width: 15%;
  padding: 15px 0 0 0;
}
.member table tbody tr > td:nth-child(2n) {
  width: 35%;
}
.member table tbody tr > td input {
  width: 94%;
  height: 34px;
  border: 2px solid #cccccc;
}
.member table tbody tr > td.half input {
  width: 50%;
}
.member table tbody tr > td select {
  padding: 12px 25px 12px 10px;
  border: 2px solid #cccccc;
  background: white url(../images/icon_select_black.png) 90% center no-repeat;
}
.member table tbody tr > td input[type="checkbox"] {
  width: auto;
  line-height: 34px;
}
.member table tbody tr > td span {
  display: inline-block;
  line-height: 34px;
  vertical-align: top;
  margin-left: 10px;
}
.member table.address, .member table.coupons {
  border-top: 1px solid #e3d8d4;
  border-bottom: 1px solid #e3d8d4;
}
.member table.address tr > td:last-child, .member table.coupons tr > td:last-child {
  width: 85%;
}
.member table.address tr > td select, .member table.coupons tr > td select {
  width: 24%;
}
.member table.address tr > td input, .member table.coupons tr > td input {
  width: 98%;
  margin-bottom: 20px;
}
.member table.coupons {
  border: none;
}
.member ul.ordershead li > span {
  display: block;
  width: 25%;
  text-align: center;
  background: #cccccc;
  line-height: 35px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.member ul.orders li {
  border-bottom: 1px solid #e5e5e5;
}
.member ul.orders li.open {
  background: #fef4f2;
}
.member ul.orders li > a {
  display: block;
  height: 35px;
  width: 100%;
}
.member ul.orders li > a:hover {
  background: #fef4f2;
}
.member ul.orders li > a > span {
  display: block;
  width: 25%;
  text-align: center;
  line-height: 35px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.member ul.orders li > a > .notPaid {
  color: #ff17a3;
}
.member ul.orders table {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  background-color: white;
  margin-bottom: 0;
}
.member ul.orders table > thead > tr {
  background: none;
}
.member ul.orders table > thead > tr > td {
  border: none;
  padding: 0;
  text-align: center;
  width: 15%;
  border-bottom: 1px dotted black;
}
.member ul.orders table > thead > tr > td:first-child {
  width: 70%;
}
.member ul.orders table > tbody > tr > td {
  width: 15%;
  padding: 0;
  border-bottom: 1px dotted black;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
}
.member ul.orders table > tbody > tr > td img {
  display: block;
  float: left;
}
.member ul.orders table > tbody > tr > td p {
  padding: 10px 0;
}
.member ul.orders table > tbody > tr > td:first-child {
  width: 70%;
  text-align: left;
}
.member ul.orders table > tfoot > tr > td {
  text-align: center;
  color: #ff17a3;
}
.member ul.orders table > tfoot > tr > td > a {
  display: inline-block;
  background: black;
  color: white;
  padding: 0 10px;
  margin: 10px;
}

.step {
  text-align: center;
  padding: 30px 0;
}
.step ul > li {
  display: inline-block;
  color: #c9c9c9;
  margin: 0 5px;
}
.step ul > li > p {
  margin: 0 auto 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color: white;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #c9c9c9;
}
.step ul > li.current {
  color: black;
}
.step ul > li.current p {
  background-color: black;
}

.shoppingbag table thead > tr {
  background: #cccccc;
}
.shoppingbag table thead > tr > td {
  line-height: 34px;
  text-align: center;
  width: 7%;
  border-right: 1px solid white;
}
.shoppingbag table thead > tr > td:last-child {
  border-right: none;
}
.shoppingbag table thead > tr > td:nth-child(2), .shoppingbag table thead > tr > td:nth-child(3) {
  width: 29%;
}
.shoppingbag table tbody > tr > td {
  padding: 10px 0;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #e3d8d4;
}
.shoppingbag table tbody > tr > td:nth-child(2), .shoppingbag table tbody > tr > td:nth-child(3) {
  text-align: left;
  padding-left: 5px;
}
.shoppingbag table tbody > tr:last-child > td {
  border-bottom: 1px solid black;
}
.shoppingbag table tfoot > tr > td {
  vertical-align: top;
}
.shoppingbag table tfoot > tr > td .note {
  background: white;
  margin: 10px 30px 0 0;
  padding: 10px;
  line-height: 16px;
}
.shoppingbag table tfoot > tr > td ul > li {
  line-height: 40px;
  border-bottom: 1px solid #ece0dc;
}
.shoppingbag table tfoot > tr > td ul > li .subject {
  float: left;
  margin-right: 10px;
}
.shoppingbag table tfoot > tr > td ul > li span {
  float: right;
}
.shoppingbag table tfoot > tr > td ul > li input {
  width: 95px;
  height: 28px;
  background: none;
  border: 1px solid #b1a8a5;
  margin: 0 5px;
}
.shoppingbag table tfoot > tr > td ul > li .applyBtn {
  display: inline-block;
  width: 60px;
  line-height: 28px;
  text-align: center;
  background: #b1a8a5;
  color: white;
  margin-right: 10px;
}
.shoppingbag table tfoot > tr > td ul > li:last-child {
  border-bottom: none;
  border-top: 1px solid black;
}
.shoppingbag table tfoot > tr > td ul > li .button input {
  height: 36px;
  background: black;
  text-align: center;
  color: white;
  padding: 0 10px;
  width: 45%;
  margin: 30px 6px 0 6px;
}

.address .personal, .member table.coupons .personal {
  width: 48%;
  float: left;
}
.address .addressArea, .member table.coupons .addressArea {
  width: 48%;
  float: right;
}
.address table, .member table.coupons table {
  width: 100%;
  margin-bottom: 20px;
}
.address table thead tr, .member table.coupons table thead tr {
  background: #cccccc;
}
.address table thead tr > td, .member table.coupons table thead tr > td {
  line-height: 35px;
  padding-left: 20px;
  position: relative;
}
.address table thead tr > td .same, .member table.coupons table thead tr > td .same {
  position: absolute;
  top: 0;
  right: 20px;
}
.address table thead tr > td .same input, .member table.coupons table thead tr > td .same input {
  margin-right: 5px;
}
.address table tbody tr > td, .member table.coupons table tbody tr > td {
  line-height: 35px;
  padding: 10px 0;
}
.address table tbody tr > td input[type="text"], .member table.coupons table tbody tr > td input[type="text"] {
  width: 98%;
  height: 35px;
  border: 1px solid #cac0bd;
}
.address table tbody tr > td input[type="text"].store, .member table.coupons table tbody tr > td input[type="text"].store {
  width: 65%;
  margin-right: 5px;
}
.address table tbody tr > td input[type="radio"], .member table.coupons table tbody tr > td input[type="radio"] {
  margin-right: 10px;
}
.address table tbody tr > td select, .member table.coupons table tbody tr > td select {
  width: 49%;
  padding: 13px 0 13px 10px;
  background-color: white;
}
.address table tbody tr > td > .specialWord, .member table.coupons table tbody tr > td > .specialWord {
  color: #ff17a3;
  padding-left: 10px;
}
.address table tbody tr > td .selectStore, .member table.coupons table tbody tr > td .selectStore {
  display: inline-block;
  width: 140px;
  height: 35px;
  text-align: center;
  background-color: #7e7876;
  color: white;
}
.address table tfoot tr > td .button, .member table.coupons table tfoot tr > td .button {
  text-align: right;
}
.address table tfoot tr > td .button input, .member table.coupons table tfoot tr > td .button input {
  width: 140px;
  height: 35px;
  background-color: black;
  text-align: center;
  color: white;
}

.payment table {
  width: 100%;
}
.payment table thead tr {
  background: #cccccc;
}
.payment table thead tr > td {
  line-height: 34px;
  padding-left: 24px;
}
.payment table tbody tr > td {
  line-height: 40px;
  border-bottom: 1px solid #e3d8d4;
}
.payment table tbody tr > td input {
  margin-right: 10px;
}
.payment table tfoot tr > td {
  padding-top: 30px;
  text-align: right;
}
.payment table tfoot tr > td > input {
  width: 140px;
  height: 36px;
  text-align: black;
  background-color: black;
  border: none;
  color: white;
  margin-left: 10px;
}

.confirm p {
  text-align: center;
  line-height: 24px;
}
.confirm .info {
  margin: 15px 0;
}
.confirm .info p {
  color: #ff17a3;
}
.confirm .button {
  margin: 20px 0;
  text-align: right;
}
.confirm .button input {
  width: 140px;
  height: 36px;
  text-align: black;
  background-color: black;
  border: none;
  color: white;
}

.clothingDetail .info .imgZoom {
  width: 350px;
  float: left;
  margin-right: 38px;
}
.clothingDetail .info .imgZoom .thumbList ul > li {
  float: left;
  margin-right: 1px;
}
.clothingDetail .info .imgZoom .thumbList ul > li > a {
  display: block;
  position: relative;
}
.clothingDetail .info .imgZoom .thumbList ul > li > a.zoomThumbActive b, .clothingDetail .info .imgZoom .thumbList ul > li > a.active b, .clothingDetail .info .imgZoom .thumbList ul > li > a:hover b {
  display: block;
  width: 65px;
  height: 65px;
  border: 2px solid #ff17a3;
  position: absolute;
  top: 0;
  left: 0;
}
.clothingDetail .info .infoText {
  float: left;
  width: 350px;
}
.clothingDetail .info .infoText h2 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}
.clothingDetail .info .infoText p {
  font-size: 14px;
}
.clothingDetail .info .infoText p.price {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.clothingDetail .info .infoText p.color {
  margin: 0 0 10px 0;
}
.clothingDetail .info .infoText p.color span {
  color: #535353;
}
.clothingDetail .info .infoText .colorChoice {
  margin-bottom: 10px;
}
.clothingDetail .info .infoText .colorChoice ul > li {
  float: left;
  margin-right: 10px;
  border: 1px solid black;
  width: 18px;
  height: 18px;
}
.clothingDetail .info .infoText .colorChoice ul > li > a {
  display: block;
  width: 18px;
  height: 18px;
}
.clothingDetail .info .infoText .specChoice {
  margin-bottom: 24px;
}
.clothingDetail .info .infoText .button {
  margin-bottom: 25px;
}
.clothingDetail .info .infoText .button a {
  display: block;
  float: left;
  width: 48%;
  line-height: 36px;
  text-align: center;
  color: white;
}
.clothingDetail .info .infoText .button a.addbag {
  background-color: black;
  margin-right: 1px;
}
.clothingDetail .info .infoText .button a.addlist {
  background-color: #7e7876;
}
.clothingDetail .info .infoText .description .tabs {
  display: block;
  border-bottom: 1px solid #cac0bd;
}
.clothingDetail .info .infoText .description .tabs li {
  float: left;
  width: 92px;
  line-height: 30px;
  text-align: center;
}
.clothingDetail .info .infoText .description .tabs li.selected {
  border-bottom: 2px solid #ff17a3;
}
.clothingDetail .info .infoText .description .tab_container {
  padding: 20px 0;
}
.clothingDetail .info .infoText .description .tab_container div {
  line-height: 170%;
}
.clothingDetail .info .infoText .description .tab_container div p {
  margin-bottom: 1em;
}

.alsolike {
  border-top: 1px solid #e3d8d4;
}
.alsolike h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin: 20px 0;
  text-align: center;
}
.alsolike li {
  float: left;
  margin-left: 28px;
  margin-bottom: 50px;
}
.alsolike li:first-child {
  margin-left: 0;
}

.socialLink {
  padding: 15px 0;
  border-top: 1px solid #e3d8d4;
  text-align: center;
}
.socialLink ul > li {
  display: inline;
  margin-right: 10px;
}

img {
  max-width: auto;
}

.zoomPad {
  position: relative;
  float: left;
  z-index: 99;
  cursor: crosshair;
}

.zoomPreload {
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #333333;
  font-size: 12px;
  font-family: Tahoma;
  text-decoration: none;
  border: 1px solid #cccccc;
  background-color: white;
  padding: 8px;
  text-align: center;
  background-image: url(../images/zoomloader.gif);
  background-repeat: no-repeat;
  background-position: 43px 30px;
  z-index: 110;
  width: 90px;
  height: 43px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 49px;
}

.zoomPup {
  overflow: hidden;
  background-color: white;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 120;
  position: absolute;
  border: 1px solid #cccccc;
  z-index: 101;
  cursor: crosshair;
}

.zoomOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  opacity: 0.5;
  z-index: 5000;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 101;
}

.zoomWindow {
  position: absolute;
  left: 380px;
  top: 40px;
  background: white;
  z-index: 6000;
  height: auto;
  z-index: 10000;
  z-index: 110;
}

.zoomWrapper {
  position: relative;
  border: 1px solid #999999;
  z-index: 110;
}

.zoomWrapperTitle {
  display: block;
  background: #999999;
  color: white;
  height: 18px;
  line-height: 18px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.zoomWrapperImage {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 110;
}
.zoomWrapperImage img {
  border: 0px;
  display: block;
  position: absolute;
  z-index: 101;
}

.zoomIframe {
  z-index: -1;
  filter: alpha(opacity=0);
  -moz-opacity: 0.8;
  opacity: 0.8;
  position: absolute;
  display: block;
}
